@font-face {
    font-family: "Neutraface2-bold";
    src: url("./Neutraface2Text-Light.otf");
}

* {
    padding: 0;
    margin: 0;
}

html {
    line-height: 1.6;
    font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    line-height: 1.2;
}

p,
h1 {
    color: #444;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 90px;
    text-transform: uppercase;
    color: aliceblue;
    font-family: "Neutraface2-bold", sans-serif;
    font-weight: 900;
    letter-spacing: 0.1rem;
}

header nav img {
    height: 47px;
}

header nav ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

header nav ul li a {
    display: flex;
    align-items: center;
}

header nav ul a {
    color: aliceblue;
    text-decoration: none;
}

header nav ul a.boka-btn {
    padding: .7rem 1rem;
    background-color: #d86b33;
    border: 1px solid #d86b33;
    transition: all .5s ease-in-out;
}

header nav ul a.boka-btn:hover {
    background-color: transparent;
    color: #d86b33;
}

header nav ul a.hostlov-btn {
    padding: .7rem 1rem;
    border: 1px solid white;
    transition: all .3s ease-in-out;
}

header nav ul a.hostlov-btn:hover {
    background-color: white;
    color: black;
}

header nav ul a:not(.nav-btn) {
    transition: all .3s ease-in-out;
    padding-bottom: 6px;
}

header nav ul a:not(.nav-btn):hover {
    color: rgba(200, 188, 188, 0.42);
    border-bottom: 2px solid white;
}

nav i {
    font-size: 2rem;
    padding-left: 0.5rem;
}

.hamburger {
    visibility: hidden;
    display: none;
}

.hamburger-menu {
    position: relative;
    padding: 0.6rem 0.8rem;
    position: absolute;
    right: 1rem;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.hamburger-icons,
.hamburger-icons::before,
.hamburger-icons::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 5rem;
    width: 1.4rem;
    height: 0.2rem;
    background-color: white;
    transition: all .3s ease-in-out;
}

.hamburger-icons::before {
    transform: translateY(-0.3rem);
}

.hamburger-icons::after {
    transform: translateY(0.3rem);
}

.hamburger:checked+.hamburger-menu .hamburger-icons {
    background: transparent;
    transition: none;
}

.hamburger:checked+.hamburger-menu .hamburger-icons::before {
    transform: rotate(45deg);
}

.hamburger:checked+.hamburger-menu .hamburger-icons::after {
    transform: rotate(-45deg);
}

.hamburger-navbar {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    background-color: red;
    height: 100vh;
    width: 30vw;
    align-items: center;
    justify-content: center;
    display: none;
}


/* Styles for Card */

.card-container {
    display: flex;
    gap: 1rem;
    margin: 2rem;
    flex-wrap: wrap;
}

.card {
    flex: 1 1 30%;
    position: relative;
    border: 1px solid #efefef;
    box-shadow: 2px 6px 25px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 2px 6px 30px rgba(0, 0, 0, 0.2);
}

.card-content {
    padding: 30px 30px 110px;
}

.card-details {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.card-details-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #efefef;
    margin: 0 30px;
    padding: 30px 0;
}

.card p {
    margin: 0 0 30px;
}

.subtitle {
    margin: 0 0 15px;
    font-weight: 700;
    font-size: 1.25rem;
    color: #e76c67;
}

.card a {
    text-decoration: none;
    color: #e76c67;
}

.card .button {
    background-color: #e76c67;
    color: #efefef;
    padding: 0.75rem 1rem;
}

.card .button:hover {
    background: #63201e;
    border: 1px solid darken(#e76c67, 10%);
}

.card-image {
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.img1 {
    background-image: url("./City.jpg");
}

.img2 {
    background-image: url("./City.jpg");
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-img {
    height: 90%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.grid-img1 {
    background-image: url("./City.jpg");
}

.grid-info {
    padding: 6rem 2rem;
}


.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 13rem 13rem;
    gap: 1.5rem;
    grid-template-areas:
        "a a b"
        "a a c";
}

.grid-video {
    grid-area: a;
}

.grid-card-1 {
    grid-area: b;
    background-image: url(./assetstream.webp);
    width: 100%;
    background-size: cover;
}

.grid-card-2 {
    grid-area: c;
    background-image: url(./assetstream1.webp);
    width: 100%;
    background-size: cover;
}

.grid-video {
    position: relative;
}

.grid-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid-card-1,
.grid-card-2 {
    display: flex;
    align-items: flex-end;
    position: relative;
}

.grid-card-1 a,
.grid-card-2 a {
    margin: 1.5rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e7e7e7;
    padding: 0.5rem 1rem;
    color: #262626;
    border-radius: 1.5rem;
}

.video-btn {
    position: absolute;
    bottom: 1.5rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.video-btn a:not(.paus-btn) {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e7e7e7;
    padding: 0.5rem 1rem;
    color: #262626;
    border-radius: 1.5rem;
}

.paus-btn {
    width: 3rem;
    height: 3rem;
    background-color: #e7e7e7;
    border-radius: 50%;
}

.erbjudande {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    width: 8rem;
    height: 8rem;
    background-color: rgb(163, 13, 13);
    border-radius: 50%;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.erbjudande p,
.erbjudande h1 {
    color: #e7e7e7;
}

.erbjudande h1 {
    font-size: 2.5rem;
}

/*
.black-jack {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./black_jack_1920x1080.avif");
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.black-jack::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(5px);
    z-index: 1;
    animation: zoom 14s ease-in-out alternate infinite;

}

@keyframes zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.3);
    }
}

.black-jack h1,
.black-jack p {
    color: white;
}

.black-jack-content {
    position: relative;
    z-index: 10;
}

*/

.black-jack h1,
.black-jack p {
    color: white;
}

.black-jack h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.black-jack p {
    font-size: 1.3rem;
}

.black-jack p.tid {
    font-size: 1.1rem;
    font-weight: 900;
    margin-top: 1rem;
}

.black-jack {
    background: url("./black_jack_1920x1080.avif");
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.black-jack::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(5px) brightness(30%);
    animation: zoom 10s alternate ease-in-out infinite;
}


.black-jack-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
        "a a b b b"
        "c c c c c";
    gap: 2rem;
    margin: 0 5rem;
    width: 100%;
    height: 70%;
    position: relative;
    z-index: 10;
}

.black-jack-info {
    grid-area: a;
    margin-right: 3rem;
}

.black-jack-img {
    grid-area: b;
    background-image: url(./black_jack_1920x1080.avif);
    background-size: cover;
    background-position: center;
}

.event-btn {
    grid-area: c;
    text-decoration: none;
    color: white;
    font-size: 1.15rem;
    align-self: center;
    justify-self: start;
    padding: 1rem 2rem;
    background: #e76c67;
    border-radius: 5rem;
}



@keyframes zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

@media screen and (max-width: 800px) {

    .grid-container-2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: none;
        grid-auto-rows: 11.5rem;
        gap: 1.5rem;
        grid-template-areas:
            "a"
            "b"
            "c";
    }

    .black-jack-content {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "a a a a a"
            "b b b b b"
            "c c c c c";
        margin: 0 1rem;


    }




















    @media screen and (max-width: 1200px) {
        .card {
            flex: 1 1 40%;
        }
    }

    @media screen and (max-width: 700px) {
        .card {
            flex: 1 1 90%;
        }

        .grid-container {
            grid-template-columns: 1fr;
            grid-auto-rows: 20rem;
        }
    }









    @media screen and (max-width: 1100px) {
        nav {
            flex-wrap: wrap;
        }
    }

    @media screen and (max-width: 800px) {
        header nav ul:not(.hamburger-navbar) {
            flex-wrap: wrap;
            background-color: black;
            padding: 50px;
            display: none;
        }

        .hamburger-menu {
            display: flex;
        }

        .hamburger:checked~.hamburger-navbar {
            display: flex;
        }

    }